._2s1x ._2s1y {
    background-color: #029044;
}

._2t-e {
    flex: none;
}

._2md {
    display: none;
}

#rightCol, #leftCol {
    display: none !important;
}

#contentCol {
    margin-left: 20px !important  
;
}

._585- {
    background-color: #029044;
}

/*.UFIList{
    display:none;
    
} */

html ._2xk0._5vb_._5vb_.hasLeftCol .hasRightCol div#contentArea {
    width: 90%;
}
