._ce_A1, .topRightNav, .defaultTopNav {
    background: #427784;
}

._ce_P1 {
    background-color: gree 
;
}

.ace_variable, .ace-line, .ace-cursor, .ace_support, .ace_type, .ace_constant, .ace_numeric, .ace_string {
    color: black;
}

.ms-bg-color-neutralLighter {
    background-color: #052942;
}

.ms-bg-color-white, .ms-bgc-w, .ms-bg-color-white-hover:hover, .ms-bgc-w-h:hover, .ms-bg-color-neutralLight, .ms-bgc-nl, .ms-bg-color-neutralLight-hover:hover, .ms-bgc-nl-h:hover {
    background-color: #083b4e;
}

a {
    color: #afafea;
}

body, .mainWindow {
    background-color: #055666;
}

/* for style editor */

span,p , .rps_fae2 p.MsoNormal, .rps_fae2 li.MsoNormal, .rps_fae2 div.MsoNormal, .ms-font-s, .ms-font-s, .ms-font-color-neutralDark, .ms-fcl-nd, .ms-font-color-neutralDark-hover:hover, .ms-fcl-nd-h:hover, .ms-font-color-neutralSecondary, .ms-fcl-ns, .ms-font-color-neutralSecondary-hover:hover, .ms-fcl-ns-h:hover, .ms-font-l, .ms-font-color-black, .ms-fcl-b, .ms-font-color-black-hover:hover, .ms-fcl-b-h:hover,  .ms-font-color-black, .ms-fcl-b, .ms-font-color-black-hover:hover, .ms-fcl-b-h:hover  {
    color: #fff;
}

.ms-font-weight-semibold ._lv_b {
        font-size: 14px;
    color: #d48225 !important;
    
}
