/* Use with Full Slate js widgets  */

.fs-locations, .fs-instructions, .fs-selected-value, .fs-primary-description {
    padding: 5px;
}

.fs-embed .fs-instructions {
    font-size: 1.5em;
}

.fs-booking-service td {
    max-width: 630px;
}

.fs-text{
    margin-left:10px
}
Lucian
Escalations | Full Slate


.fs-booking-fields tr td div{
    margin-left: 5px
}

@media only screen and (max-width: 760px) {
    div.fs-embed {
     overflow:scroll !important;   
    }
}

/* makes CivicPlus height dynamic to ajax content updates */
 .inner.col.first.last {
    height: auto !important;
}
